@charset "UTF-8";
/*************************************************************\
  Developed by Jozek Andrzej Hajduk Sánchez
\*************************************************************/
/*************************************************************\
  Globals
\*************************************************************/
/* Developed by Jozek Andrzej Hajduk Sánchez */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}