@charset "UTF-8";
/*************************************************************\
  Developed by Jozek Andrzej Hajduk Sánchez
\*************************************************************/
/*************************************************************\
  Variables
\*************************************************************/
/* =========== Globals =========== */
/* ============================ */
/* =========== Dark =========== */
/* ============================ */
/*************************************************************\
  Mixins
\*************************************************************/
/*************************************************************\
  Globals
\*************************************************************/
/* Developed by Jozek Andrzej Hajduk Sánchez */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  transition: 0.5s ease all;
}

header {
  display: flex;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333646;
  padding: 0.5rem 30rem;
}

a {
  text-decoration: none;
  color: #f3f3f4;
}

ul {
  list-style: none;
}

/*************************************************************\
  Header section
\*************************************************************/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav__logo {
  max-width: 25rem;
  min-width: 15rem;
}
.nav__logo--image {
  width: 100%;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  padding-left: 3rem;
}
.nav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f3f3f4;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}
.nav__text {
  transition: 0.5s ease all;
  border-bottom: 0.3rem solid transparent;
}
.nav__link:hover .nav__text {
  border-bottom: 0.3rem solid #ffaf29;
}

/*************************************************************\
  Toogles components
\*************************************************************/
.toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-left: 15rem;
}
.toggles__toggle {
  margin-right: 2rem;
}
.toggles__toggle .switch {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
}
.toggles__toggle .switch::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  bottom: 0;
  transition-timing-function: cubic-bezier(0.55, 1.03, 0.8, 0.77);
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  background-color: #ffaf29;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  transition: 0.5s ease all;
}
.toggles__toggle .switch.active::after {
  transform: translateX(100%);
}
.toggles__toggle .switch--lang span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggles__toggle .switch span {
  background-color: #f3f3f4;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
}

/*************************************************************\
  Social networks menu
\*************************************************************/
.scl-net {
  position: fixed;
  top: calc(30%);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #252734;
}
.scl-net__list {
  padding: 1.5rem;
}
.scl-net__item:first-child {
  margin-bottom: 1rem;
}
.scl-net__image {
  color: #f3f3f4;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s ease all;
}
.scl-net__image:hover {
  color: #e9b258;
}

/*************************************************************\
  Main
\*************************************************************/
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65vh;
  min-height: 50vh;
  max-height: 75vh;
  background-image: url("https://rolandorojodotcom.files.wordpress.com/2021/01/imagen-inicio-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7rem 30rem;
}
.intro__name {
  width: 40%;
  color: #f3f3f4;
  font-size: 7rem;
  font-family: "Open Sans", sans-serif;
}
.intro__info {
  width: 50%;
  padding: 5rem;
  padding-right: 0;
  color: #f3f3f4;
}
.intro__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #e9b258;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}
.intro__title::before {
  content: "";
  width: 1.5rem;
  height: 0.3rem;
  display: inline-block;
  margin-right: 1rem;
  background: #e9b258;
}
.intro__profesion {
  padding: 2rem 0;
  color: #f3f3f4;
  font-size: 3.6rem;
  font-family: "Open Sans", sans-serif;
}
.intro__description {
  padding-bottom: 2rem;
  text-align: justify;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
}

/*************************************************************\
  Links
\*************************************************************/
.link {
  font-weight: 900;
  color: #ffaf29;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s ease all;
}
.link:hover {
  color: #e9b258;
}
.link__text {
  margin-right: 1rem;
}
.link__text:hover {
  text-decoration: underline;
}
.link--contact {
  font-size: 2.2rem;
  font-family: "Open Sans", sans-serif;
}

/*************************************************************\
  About section
\*************************************************************/
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #252734;
  padding: 5rem 30rem;
}
.about__info {
  width: 50%;
}
.about__title {
  padding-bottom: 4rem;
  color: #f3f3f4;
  display: flex;
  flex-direction: column;
  color: #f3f3f4;
  font-size: 3.6rem;
  font-family: "Open Sans", sans-serif;
}
.about__title::before {
  content: "";
  width: 8rem;
  height: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #ffaf29;
}
.about__text {
  padding-bottom: 4rem;
  font-size: 1.8rem;
  text-align: justify;
  color: #666874;
}
.about__picture {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding: 4rem;
}
.about__image {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*************************************************************\
  Companies section
\*************************************************************/
.companies {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #333646;
  padding: 7rem 30rem;
}
.companies__title {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  color: #f3f3f4;
  font-size: 3.6rem;
  font-family: "Open Sans", sans-serif;
}
.companies__title::before {
  margin-right: 1rem;
  content: "";
  width: 8rem;
  height: 0.5rem;
  margin-bottom: 0;
  background-color: #ffaf29;
}
.companies__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.company {
  width: 33%;
  padding: 2rem;
}
.company__picture {
  width: 100%;
  padding: 3rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  background: #666874;
  cursor: pointer;
}
.company__picture.active + .company__info {
  transform: scaleY(100%);
  opacity: 1;
}
.company__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.company__info {
  height: 0%;
  opacity: 0;
  padding: 2rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  border-top: 0;
  background: #252734;
  transition: 0.3s ease all;
}
.company__name {
  padding-bottom: 1rem;
  font-weight: 900;
  color: #f3f3f4;
  font-size: 1.7rem;
  font-family: "Open Sans", sans-serif;
}
.company__description {
  color: #666874;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}