/*************************************************************\
  About section
\*************************************************************/

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: $color-secundary-dark;
  @include padding(5rem);
  @include transition();

  body.ligth-mode & {
    background-color: $color-secundary-ligth;
  }

  &__info {
    width: 50%;
  }

  &__title {
    padding-bottom: 4rem;
    @include titles();
    @include font($font-size-titles);

    &::before {
      @include titles_pseudoElement();
    }
  }

  &__text {
    padding-bottom: 4rem;
    font-size: 1.8rem;
    text-align: justify;
    color: $color-text-secundary-dark;

    body.ligth-mode & {
      color: $color-text-secundary-ligth;
    }
  }

  &__picture {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding: 4rem;
  }

  &__image {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: $box-sahdow;
  }
}