/*************************************************************\
  About section
\*************************************************************/

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: $color-secundary-dark;
  @include padding();
  @include transition();

  @include media (desktop-s) {
    @include padding($padding-t-b, 20rem);
  }

  @include media (tablet-l) {
    @include padding ($padding-t-b, 5rem);
  }

  @include media (mobile-s) {
    @include padding (11rem, 2rem);
  }

  body.ligth-mode & {
    background-color: $color-secundary-ligth;
  }

  &__info {
    width: 50%;

    @include media (desktop-l) {
      width: 100%;
    }
  }

  &__title {
    padding-bottom: 4rem;
    @include titles();
    @include font($font-size-titles);

    &::before {
      @include titles_pseudoElement();
    }
  }

  &__text {
    padding-bottom: 4rem;
    font-size: 1.8rem;
    text-align: justify;
    color: $color-text-secundary-dark;

    body.ligth-mode & {
      color: $color-text-secundary-ligth;
    }
  }

  &__picture {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding: 4rem;

    @include media (desktop-l) {
      width: 100%;
      justify-content: center;
    }

    @include media (mobile-s) {
      display: none;
    }
  }

  &__image {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: $box-sahdow;

    @include media (mobile-l) {
      width: 25rem;
      height: 25rem;
    }
  }
}