/*************************************************************\
  Contact section
\*************************************************************/

.contact {
  width: 100%;
  height: auto;
  background-color: $color-primary-dark;
  @include padding(7rem);

  &__form {
    display: grid;
    grid-template: 1fr 1fr 5fr / repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  border-radius: .4rem;

  &--name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: flex-end;
  }

  &--lastName {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: flex-start;
  }

  &--mail {
    grid-row: 2 / 3;
  }

  &--msm {
    grid-row: 3 / 4;
    height: 100%;
  }

  &--btn {
    grid-row: 4/5;
  }

  &__names {
    width: 40rem;
  }

  &__info {
    grid-column: 1 / 3;
    justify-self: center;
    width: 82rem;
  }
}

.input {

  &__text {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    border: 0;
    border-radius: inherit;
    border: .2rem solid transparent;
    outline: none;
    font-size: 1.8rem;
    background-color: $color-secundary-dark;
    color: $color-text-secundary-dark;
    @include transition(.3s);

    &:focus {
      border-color: $color-aux;
    }

    // &:not(:placeholder-shown).input__text:not(:focus) {
    //   border-color: $color-bg-aux;
    // }

    &--msm {
      height: 100%;
      padding: 1rem 1rem 1rem 2rem;
      resize: none;
      overflow-y: auto;
      @include font($font-size-text);
    }
  }

  &__label {
    position: absolute;
    top: 1rem;
    left: 2rem;
    color: $color-text-secundary-dark;
    @include transition(.3s);
    @include font();

    .input__text:focus + & {
      @include input__form();
    }

    .input__text:not(:placeholder-shown).input__text:not(:focus) + & {
      @include input__form($color-text-primary-dark);
    }
  }
}

.btn {

  &--send {
    width: 100%;
    height: 100%;
    border: .2rem solid $color-aux;
    border-radius: inherit;
    background-color: transparent;
    color: $color-aux;
    outline: none;
    cursor: pointer;
    @include transition();
    @include font();

    &:hover {
      background-color: $color-aux;
      color: $color-text-primary-dark;
    }
  }
}