/*************************************************************\
  Globals
\*************************************************************/

/* Developed by Jozek Andrzej Hajduk Sánchez */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $font-family;
  @include transition();
  @include scroll_element;

  &.ligth-mode::-webkit-scrollbar-thumb {
    background-color: $color-primary-ligth;
  }

  &.ligth-mode::-webkit-scrollbar-track {
    background-color:$color-secundary-ligth;
  }
}

header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $color-primary-dark;
  box-shadow: $box-sahdow;
  @include padding(.5rem);
  @include transition();

  @include media (desktop-s) {
    @include padding(.5rem, 2rem);
  }

  @include media (tablet-l) {
    align-items: center;
    justify-content: space-around;
  }

  @include media (mobile-l) {
    justify-content: space-between;
  }

  body.ligth-mode & {
    background-color: $color-primary-ligth;
  }
}

main, #companies, #contact {
  background-color: $color-secundary-dark;
  @include transition();

  body.ligth-mode & {
    background-color: $color-secundary-ligth;
  }
}

#about {
  background-color: $color-primary-dark;
  @include transition();

  body.ligth-mode & {
    background-color: $color-primary-ligth;
  }
}


a {
  text-decoration: none;
  color: $color-text-primary-dark;
}

ul {
  list-style: none;
}


footer {
  background-color: $color-secundary-dark;
  @include padding(14rem);
  @include transition();

  @include media (desktop-s) {
    @include padding (14rem, 10rem);
  }

  @include media (tablet-l) {
    @include padding (14rem, 5rem);
  }

  @include media (mobile-l) {
    padding-top: 7rem;
  }

  body.ligth-mode & {
    background-color: $color-secundary-ligth;
  }
}