/*************************************************************\
  Header
\*************************************************************/

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__logo {
    max-width: 25rem;
    min-width: 15rem;

    &--image {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 30rem;
    max-width: 25rem;
  }

  &__item {
    padding-left: 1rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-text-primary-dark;
    @include font();
  }

  &__text {
    @include transition();
    @include border-bottom(.3rem);

    .nav__link:hover & {
      @include border-bottom(.3rem, $color-bg-aux);
    }
  }
}