/*************************************************************\
  Links
\*************************************************************/

.link {
  font-weight: 900;
  color: $color-aux;
  border-radius: .6rem;
  @include padding(1rem, 1rem);
  @include font(1.6rem);
  @include transition(.3s);

  &:hover {
    background-color: $color-aux-dark;

    body.ligth-mode & {
      background-color: $color-primary-ligth;
    }
  }

  &__text {
    margin-right: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &--contact {
    @include font(2.2rem);
  }
}