/*************************************************************\
  Slider component
\*************************************************************/

.sliders {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: calc(23rem * 7);

  &--left {
    // padding-bottom: .5rem;
    // animation: scroll_slider--left 40s linear infinite;
    // animation: scroll_slider--left 10s linear infinite both;
  }

  &--rigth {
    // animation: scroll_slider--rigth 40s linear infinite;
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 20rem;
    padding: 1rem;

  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // border: .1rem solid black;
    border-radius: 2rem;
  }
}
