/*************************************************************\
  Social networks menu
\*************************************************************/

.scl-net {
  position: fixed;
  top: calc(30%);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  z-index: 100;
  background-color: $color-secundary-dark;
  box-shadow: $box-sahdow;

  &__list {
    padding: 1.5rem;
  }

  &__item {

    &:first-child {
      margin-bottom: 1rem;
    }
  }

  &__image {
    color: $color-text-primary-dark;
    @include font(3rem);
    @include transition(.3s);

    &:hover {
      color: $color-aux;
    }
  }
}