/*************************************************************\
  Works section
\*************************************************************/

.works {
  background-color: $color-secundary-dark;
  @include padding();
  @include transition();

  @include media (desktop-s) {
    @include padding ($padding-t-b, 20rem);
  }

  @include media (tablet-l) {
    @include padding ($padding-t-b, 5rem);
  }

  @include media (mobile-s) {
    @include padding ($padding-t-b, 2rem);
  }

  body.ligth-mode & {
    background-color: $color-secundary-ligth;
  }

  &__description {
    padding-bottom: 7rem;
    text-align: justify;
    color: $color-text-secundary-dark;
    @include font();

    body.ligth-mode & {
      color: $color-text-secundary-ligth;
    }
  }
}