/*************************************************************\
  Works section
\*************************************************************/

.works {
  background-color: $color-secundary-dark;
  @include padding(7rem);

  &__description {
    padding-bottom: 7rem;
    text-align: justify;
    color: $color-text-secundary-dark;
    @include font();
  }
}